---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Yoan Abadine"
  description="About Yoan Abadine Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline=" Thanks for stopping by! Here you'll find a little bit about me, my background, and my skills."
      >
        <!-- <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Yoan Abadine at work with a colleague"
        /> -->
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Results-driven entrepreneur with a solid background in sales,
            business development, and front-end development. Skilled in creating
            intuitive user interfaces and managing product lifecycles, I bring a
            unique blend of technical expertise and business acumen to drive
            success. Proficient in modern web technologies, I leverage my strong
            communication and strategic thinking skills to deliver exceptional
            user experiences and forge valuable partnerships.
          </p>
          <p>
            With a successful track record in sales and a customer-centric
            approach, I excel at identifying opportunities, building
            relationships, and driving revenue growth.
          </p>
          <p>
            Currently serving as a Product Owner and Front-end Developer at
            Ether Healthcare, I lead product development, ensure seamless
            integration with third-party systems, and actively contribute to
            shaping the company's future. Open to collaborative ventures and
            eager to apply my expertise in creating innovative solutions.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            <strong>Development</strong>
            <br />
            HTML, CSS, JavaScript, React, Next.js, Astro, Tailwind CSS, Sass, Git,
            GitHub, GitLab, WordPress, Sanity, RESTful APIs, Node.js, Express, PostgreSQL,
            MySQL, Docker, Linux, Windows.
          </p>
          <p>
            <strong>Business</strong>
            <br />
            Sales, Business Development, Product Management, Product Development,
          </p>
          <p>
            <strong>Healthcare IT</strong>
            <br />
            Data Migration, Data Mapping, Data Analysis, HL7, DICOM, PACS, RIS, VNA.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <ul>
            <li>
              Bachelor's Degree in Business & Management <span
                class="education-span">2008</span
              >
            </li>
            <li>
              Vocational Degree in Sales & Merchandising <span
                class="education-span">2006</span
              >
            </li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-200);
  }

  .education-span {
    color: lightslategray;
    font-size: 0.85rem;
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
