---
import ContactForm from "./ContactForm.astro";
---

<!-- ContactPage.astro -->
<aside>
  <h2>Interested in working together?</h2>
  <div class="form-wrapper">
    <ContactForm />
  </div>

  <style>
    aside {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      border-top: 1px solid var(--gray-800);
      border-bottom: 1px solid var(--gray-800);
      padding: 5rem 1.5rem;
      background-color: var(--gray-999_40);
      box-shadow: var(--shadow-sm);
    }

    h2 {
      font-size: var(--text-xl);
      text-align: center;
      max-width: 15ch;
    }

    .form-wrapper {
      flex-grow: 1;
      width: 100%;
    }

    @media (min-width: 50em) {
      aside {
        padding: 7.5rem;
        flex-direction: row;
        justify-content: space-between;
      }

      h2 {
        font-size: var(--text-3xl);
        text-align: left;
        width: 30%; /* Adjust as needed */
      }

      .form-wrapper {
        width: 60%; /* Adjust as needed */
        max-width: 600px; /* Limits the width of the form */
      }
    }
  </style>
</aside>
